name: OctoBot-Market-Making-Docker
on:
  push:
    branches:
      - "master"
      - "dev"
    tags:
      - "*"
  pull_request:

jobs:
  docker:
    uses: Drakkar-Software/.github/.github/workflows/docker_workflow.yml@master
    with:
      distribution_name: marketmaking
    secrets: inherit
