name: OctoBot-Market-Making-CI
on:
  push:
    tags:
      - '*'
  pull_request:

jobs:
  lint:
    name: ${{ matrix.os }}${{ matrix.arch }} - Python ${{ matrix.version }} - lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        arch: [ x64 ]
        version: [ "3.10.x" ]
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.version }}
        architecture: ${{ matrix.arch }}

    - name: Install dependencies
      # note: install octobot from requirements as this CI should only trigger on new OctoBot versions
      # and therefore its installation should work.
      run: pip install -r requirements.txt -r dev_requirements.txt

    - name: Pylint
      run: |
        pylint --rcfile=standard.rc octobot_market_making
        if [ $? -ne 1 ]; then exit 0; fi

  tests:
    name: ${{ matrix.os }}${{ matrix.arch }}  - Python - ${{ matrix.python }} - tests
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        arch: [ x64 ]
        python: [ '3.10' ]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
        architecture: ${{ matrix.arch }}

    - name: Install dependencies
      run: pip install -r requirements.txt -r dev_requirements.txt

    - name: Pytests
      run: pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests

  publish:
    needs: tests
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    uses: Drakkar-Software/.github/.github/workflows/python3_sdist_workflow.yml@master
    secrets:
      PYPI_OFFICIAL_UPLOAD_URL: ${{ secrets.PYPI_OFFICIAL_UPLOAD_URL }}
      PYPI_USERNAME: __token__
      PYPI_PASSWORD: ${{ secrets.PYPI_TOKEN }}

  notify:
    if: ${{ failure() }}
    needs:
      - lint
      - tests
      - publish
    uses: Drakkar-Software/.github/.github/workflows/failure_notify_workflow.yml@master
    secrets:
      DISCORD_GITHUB_WEBHOOK: ${{ secrets.DISCORD_GITHUB_WEBHOOK }}
